*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  font-size: 2rem;
}

body {
  font-size: 2rem;
  height: 100vh;
}

.header {
  width: 100%;
  margin: auto;
  background: #9be98e;
}

.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
}

.header__figure {
  height: 7rem;
  width: 15rem;
}

.header__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.header__listItem {
  list-style: none;
  padding: 1rem;
  border-radius: 2rem;
}

.listItem__link {
  text-decoration: none;
  color: #413F42;
  position: relative;
}

.listItem__link:after {
  content: "";
  position: absolute;
  background: #42855B;
  width: 0;
  height: 0.3rem;
  left: 0;
  bottom: -0.1rem;
  transition: 0.3s;
}

.listItem__link:hover {
  color: black;
}

.listItem__link:hover:after {
  width: 100%;
}

.header__button {
  width: 5rem;
  height: 4rem;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__signUp {
  min-width: 28rem;
  height: 5rem;
  font-size: 2rem;
  color: #413F42;
  background: #eee;
  border: 0.2rem solid rgb(144, 238, 144);
  border-radius: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.header__signUp:hover {
  color: black;
  background-color: #9be98e;
}

.header__input {
  width: 100%;
  font-size: 2rem;
  height: 5rem;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 6rem;
  border: none;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  position: relative;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  background: #eee;
  border: 0.2rem solid rgb(144, 238, 144);
}

.header__input:focus {
  color: #42855B;
}

.header__searchbar {
  width: 50rem;
  position: relative;
}

.searchbar__logo {
  position: absolute;
  right: 0;
  width: 5rem;
  height: 5rem;
  margin-left: 22rem;
  padding-top: 1rem;
  text-align: center;
  background: #9be98e;
  font-size: 3rem;
  z-index: 1;
  border-radius: 1.5rem;
}

.signUp {
  background: white;
  width: 38rem;
  height: 48rem;
  position: absolute;
  top: 23%;
  left: 40%;
  box-shadow: 0 5px 1.2rem rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  overflow: hidden;
  border-radius: 2rem;
  z-index: 2;
  display: block;
}

.signUp__close {
  position: absolute;
  width: 4rem;
  height: 4rem;
  font-size: 150%;
  border-radius: 1.5rem;
  border: none;
  margin: 1rem;
}

.signUp__box {
  width: 22rem;
  margin: 2.5rem 8rem;
  position: relative;
  border: 0.1rem solid #9be98e;
  border-radius: 3rem;
}

.toggle-btn {
  padding: 1rem 3rem;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

.btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 11rem;
  height: 100%;
  background: #9be98e;
  border-radius: 3rem;
  transition: 0.5s;
}

.signUp__h1 {
  width: 100%;
  text-align: center;
}

.signUp__form {
  top: 16rem;
  position: absolute;
  width: 28rem;
  transition: 0.5s;
}

.signUp__input {
  width: 100%;
  padding: 1rem 0;
  margin: 0.5rem 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #9be98e;
  background: transparent;
}

.signUp__checkbox {
  margin: 3rem 1rem 3rem 0;
}

span {
  color: #777;
  font-size: 1.2rem;
  bottom: 6.8rem;
  position: absolute;
}

.signUp__btn {
  width: 85%;
  padding: 1rem;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #9be98e;
  border: none;
  border-radius: 3rem;
}

#login {
  left: 5rem;
}

#register {
  top: 30%;
  left: 45rem;
}

.container {
  max-width: 100%;
  height: auto;
  margin: auto;
  background: #e3f9e0;
}

.container__header {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 2rem 0rem;
  flex-wrap: wrap;
}

.container__body {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background: linear-gradient(to right, rgba(27, 27, 27, 0.8), 40%, rgba(233, 69, 96, 0) 50%);
}

.container__p {
  position: absolute;
  width: 25%;
  left: 2rem;
  color: rgba(238, 238, 238, 0.9);
}

.container__figure {
  width: 100%;
  height: 50rem;
  position: relative;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8));
  z-index: -1;
}

.container__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.page__front {
  display: flex;
  justify-content: center;
  padding: 5rem;
  gap: 3rem;
  flex-wrap: wrap;
}

.page__card {
  background: var(--secondary-color);
  width: 80rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  color: #707070;
}

.page__heading {
  font-size: 2.7rem;
}

.page__cards {
  width: 60rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #707070;
  border-radius: 3rem;
  background: var(--secondary-color);
}

.page__card {
  background: var(--secondary-color);
  width: 80rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  color: #707070;
  flex-direction: column;
}

.page__heading {
  font-size: 2.7rem;
}

.main__cards {
  width: 100rem;
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #707070;
  border-top: 0.2rem #9CC5A1 solid;
  margin-bottom: 10rem;
  position: relative;
  border-top: 0.2rem #9CC5A1 solid;
  flex-wrap: wrap;
}

.main__heading {
  z-index: 3;
  position: absolute;
  top: 7rem;
  left: 3rem;
  font-size: 3rem;
}

.main__date {
  z-index: 3;
  position: absolute;
  top: 37rem;
  left: 3rem;
  font-size: 2.5rem;
  margin-top: 2rem;
}

.main__paragraph {
  z-index: 3;
  position: absolute;
  top: 22rem;
  left: 3rem;
  font-size: 2.5rem;
}

.main__nav {
  display: flex;
  position: absolute;
  top: -4rem;
  left: 3rem;
  font-size: 2.5rem;
  gap: 2rem;
}

@media screen and (max-width: 60rem) {
  .main__date {
    margin-top: 5rem;
    font-size: 2.1rem;
  }
  .main__cards {
    max-width: 100%;
  }
  .main__paragraph {
    font-size: 2.1rem;
  }
}
@media screen and (max-width: 40rem) {
  .main__date {
    margin-top: 15rem;
    font-size: 2.1rem;
  }
  .main__cards {
    height: 50rem;
  }
  .main__cards {
    max-width: 100%;
  }
  .main__paragraph {
    font-size: 1.8rem;
    margin-top: 2rem;
    width: 100%;
  }
  .main__heading {
    font-size: 2.5rem;
  }
}
.main__voorwaarden {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 35rem;
  margin-left: 35rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  outline: auto;
  padding: 1.3rem;
  border-radius: 1.2rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.15);
}

.main__contactformulier {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background: #EEEEEE;
  color: #EEEEEE;
  gap: 4rem;
}

.contactformulier {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 70rem;
  min-height: 40rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 4rem;
  font-size: 3rem;
  gap: 2rem;
  border-radius: 3rem;
  color: black;
  box-shadow: 25rem 25rem 25rem 25rem rgba(0, 0, 0, 0.1);
}
.contactformulier__informatie {
  font-size: 1.8rem;
  color: black;
  margin-bottom: 3rem;
  width: 50%;
  padding: 4rem;
}
.contactformulier__item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contactformulier__item--label {
  font-size: 2.5rem;
  border-bottom: 0.2rem solid lightgreen;
}
.contactformulier__item--input {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  border: 1px solid black;
  background: rgb(242, 235, 235);
}
.contactformulier__item--area {
  height: 23ch;
  width: 100%;
  font-size: 1.6rem;
  border: 1px solid black;
  font-family: sans-serif;
  padding: 1rem 2rem;
  resize: none;
  background: rgb(242, 235, 235);
}
.contactformulier__item--select {
  background: rgb(242, 235, 235);
  padding: 0.5rem 1rem;
}

.submit {
  background: #00ADB5;
  color: #EEEEEE;
  font-size: 1.6rem;
  border: none;
}

.submit:hover {
  cursor: pointer;
}

.footer {
  background-color: #e3f9e0;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  list-style: none;
  padding: 5rem;
}

.footer__logos {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  width: 1rem;
}

.footer__images {
  height: 6rem;
  padding: 1rem;
}

.form__ul {
  list-style-type: none;
}

.form__ul li {
  padding-top: 1rem;
}

.form__ul li a {
  text-decoration: none;
}

.form__h2 {
  padding-top: 2rem;
  border-bottom: 2px solid black;
}

.formulier {
  width: 30rem;
  height: 30rem;
  background: #EEEEEE;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 4rem;
  font-size: 3rem;
  gap: 2rem;
  border-radius: 1.4rem;
  box-shadow: 25rem 25rem 25rem 25rem rgba(0, 0, 0, 0.1);
}

.formulier div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__input {
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: 0.1rem solid #9be98e;
  border-radius: 0.4rem;
  background: #EEEEEE;
}

.submit {
  background: #EEEEEE;
  color: black;
  width: 100%;
  height: 5rem;
}

.submit:hover {
  cursor: pointer;
  background: #9be98e;
}

.header__button {
  display: none;
}

@media screen and (max-width: 75rem) {
  .container {
    max-width: 100%;
    height: auto;
    margin: auto;
    background: rgba(217, 248, 196, 0.4);
  }
  .container__header {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 5rem;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .header__signUp {
    width: 38%;
  }
  .header__searchbar {
    width: 85%;
  }
  .signUp {
    left: 34%;
  }
  .container__figure {
    width: 100%;
    height: 40rem;
    background: grey;
  }
  .main__voorwaarden {
    margin-left: 10rem;
    margin-right: 10rem;
  }
  .main__contactformulier {
    flex-direction: column;
    width: 100%;
  }
  .contactformulier__informatie {
    width: 100%;
  }
  .footer {
    flex-direction: column;
  }
  .footer__section {
    margin-right: auto;
  }
  .footer__images {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 62.5rem) {
  .container__header {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 5rem;
    gap: 2rem;
    flex-wrap: wrap;
  }
  .container__body {
    display: flex;
    justify-content: center;
    max-width: 144rem;
    flex-wrap: wrap;
  }
  .container__figure {
    width: 100%;
    height: 40rem;
    background: grey;
  }
}
@media screen and (max-width: 56.25rem) {
  .container__figure {
    width: 100%;
    height: 40rem;
    background: grey;
  }
  .container__p {
    width: 38%;
  }
  .signUp {
    left: 30%;
  }
}
@media screen and (max-width: 53.123rem) {
  .container {
    max-width: 100%;
    height: auto;
    margin: auto;
    background: rgba(217, 248, 196, 0.4);
  }
  .header__listItem {
    margin: 0 auto;
    width: 90%;
    margin-top: 0.5rem;
    font-size: 100%;
    padding: 0rem;
  }
  .header__signUp {
    width: 100%;
  }
  .header__searchbar {
    width: 100%;
  }
  .header__input {
    text-align: center;
  }
}
@media screen and (max-width: 50rem) {
  .header__ul {
    display: none;
  }
  .header__listItem {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .header__listItem:hover {
    background: #9be98e;
    border-radius: 1rem;
    padding-top: 1rem;
  }
  .signUp {
    left: 28%;
  }
  .listItem__link:after {
    content: "";
    background: none;
  }
  .header__button {
    display: block;
  }
  .xMark {
    display: none !important;
  }
  .header__nav--openMenu .bars {
    display: none !important;
  }
  .header__nav--openMenu .xMark {
    display: block !important;
  }
  .header__nav--openMenu .header__ul {
    font-size: 130%;
    width: 100vw;
    height: 32rem;
    padding-top: 1rem;
    text-align: center;
    display: block;
    position: absolute;
    top: 7rem;
    left: 0;
    background: white;
    z-index: 2;
    box-shadow: 0 5px 1.2rem rgba(0, 0, 0, 0.2);
  }
  .contactformulier {
    padding: 2rem;
    width: 100%;
  }
}
@media screen and (max-width: 43.75rem) {
  .signUp {
    left: 20%;
  }
  .container__body {
    background: linear-gradient(360deg, rgba(27, 27, 27, 0.8), 40%, rgba(233, 69, 96, 0) 50%);
  }
  .container__p {
    font-size: 100%;
    width: 90%;
    padding-top: 23rem;
  }
  .main__voorwaarden {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
@media screen and (max-width: 43.75rem) {
  .signUp {
    left: 15%;
  }
  .footer__iframe {
    width: auto;
  }
}
@media screen and (max-width: 31.25rem) {
  .signUp {
    left: 5%;
  }
}
@media screen and (max-width: 25rem) {
  .container {
    height: auto;
  }
  .container__p {
    width: 90%;
  }
  .signUp {
    z-index: 2;
    left: 3%;
  }
}
.signUp__checkbox {
  width: 5%;
}

.signUp__span--psw {
  right: 46%;
}

.signUp__span--agree {
  right: 27%;
}

.container__p {
  font-size: 100%;
}

.page__front {
  display: flex;
  justify-content: center;
  padding: 10rem;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.page__card {
  background: var(--secondary-color);
  width: 80rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  color: #707070;
  flex-direction: column;
}

.page__heading {
  font-size: 2.7rem;
}

.page__cards {
  width: 60rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #707070;
  border-radius: 3rem;
  background: var(--secondary-color);
}

.agenda__card {
  list-style: none;
  position: relative;
  top: 3rem;
}

.agenda__card2 {
  list-style: none;
  position: relative;
  top: 3rem;
}

.page__card {
  background: var(--secondary-color);
  width: 80rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  color: #707070;
  flex-direction: column;
}

.page__heading {
  font-size: 2.7rem;
}

.agenda__cards {
  background: white;
  width: 76rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #707070;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
}

/*
.agenda__cards:hover{
    border-left: #9CC5A1 66rem solid;
    transition: 0.5s;
    color: #eee;
}
*/
.agenda__cards4:hover {
  width: 84rem;
  transition: 0.3s;
  border-right: 4rem solid #9CC5A1;
}

.agenda__cards:hover {
  width: 84rem;
  transition: 0.3s;
  border-left: 4rem solid #9CC5A1;
}

.agenda__cards2 {
  background: white;
  width: 30rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-right: #9CC5A1 solid 3rem;
  color: #707070;
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
}

.agenda__cards3 {
  background: white;
  width: 30rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #707070;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  border-left: #9CC5A1 solid 3rem;
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
}

.agenda__cards4 {
  background: white;
  width: 76rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  color: #707070;
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
}

.agenda__img {
  width: 30rem;
  height: 40rem;
  object-fit: cover;
  border-radius: 0rem;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.agenda__img2 {
  width: 36rem;
  height: 40rem;
  object-fit: cover;
  border-radius: 0rem;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

.agenda__img3 {
  object-fit: contain;
  border-radius: 0rem;
}

.agenda__h2 {
  position: relative;
  bottom: 5rem;
}

.agenda__d {
  position: relative;
  bottom: 2rem;
}

.agenda__p {
  position: relative;
}

.agenda__title {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  position: relative;
  right: 45rem;
  font-size: 3rem;
  color: #707070;
  max-width: 100%;
}

.agenda__button {
  position: relative;
  bottom: 10rem;
  right: 42rem;
  border: none;
  background: none;
  width: 100%;
  height: 4rem;
  color: white;
  font-size: 2rem;
}

.agenda__button4 {
  position: relative;
  bottom: 13rem;
  right: 42rem;
  border: none;
  background: none;
  width: 100%;
  height: 4rem;
  color: white;
  font-size: 2rem;
}

.agenda__button2 {
  position: relative;
  bottom: 10rem;
  left: 74rem;
  border: none;
  background: none;
  height: 4rem;
  color: white;
  font-size: 2rem;
  text-decoration: none;
  z-index: 10;
}

.agenda__button3 {
  position: relative;
  bottom: 10rem;
  left: 72.5rem;
  border: none;
  background: none;
  height: 4rem;
  color: white;
  font-size: 2rem;
  text-decoration: none;
  z-index: 10;
}

.agenda__date {
  position: relative;
  top: 15rem;
  right: 56rem;
  border: none;
  background: none;
  color: #707070;
  font-size: 1.7rem;
  text-decoration: none;
}

.agenda__date2 {
  position: relative;
  top: 15rem;
  right: 51rem;
  border: none;
  background: none;
  color: #707070;
  font-size: 1.7rem;
  text-decoration: none;
}

@media screen and (max-width: 90rem) {
  .agenda__cards2 {
    display: none;
  }
  .agenda__cards3 {
    display: none;
  }
  .page__front {
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }
  .agenda__cards {
    max-width: 100%;
    height: 40rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }
  .agenda__cards4 {
    max-width: 100%;
    height: 40rem;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
  }
  .agenda__title {
    max-width: 100%;
    right: 30rem;
  }
  .agenda__paragraph {
    max-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
