@use "./abstract/colors";
.footer{
    background-color: colors.$background-body;
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    list-style: none;
    padding: 5rem;
}

.footer__section{
    padding-left: 2rem;
    padding-right: 2rem;
}

.form__ul{
    list-style-type: none;
    
}

.form__ul li{
    padding-top: 1rem;
    
}

.form__ul li a{
    text-decoration: none;
}


.form__h2{
    padding-top: 2rem;
    border-bottom: 2px solid black;
}

.formulier{
    width: 30rem;
    height: 25rem;
    background: lightslategray;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 4rem;
    font-size: 3rem;
    gap: 2rem;
    border-radius: 2.5rem;
}


.formulier div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form__input{
    display: block;
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border: 0.1rem solid black;
    border-radius: 0.8rem;
    background: #EEEEEE;
}

.submit{
    background: green;
    border-radius: 0.8rem;
    color: white;
    width: 100%;
    height: 5rem;
}

.submit:hover{
    cursor: pointer;
}