@use "../../abstract/colors";

.header{
    max-width: 144rem;
    margin: auto;
    background: colors.$front_page--header;
}

.header__nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
}

.header__figure{
    height: 7rem;
    width: 15rem;
}

.figure__nav--img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header__nav--ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.nav__listItem{
    list-style: none;
    padding: 1rem;
    border-radius: 2rem;
}

.listItem__link{
    text-decoration: none;
    color: #413F42;
    position: relative;
}

.listItem__link:after{
    content: "";
    position: absolute;
    background: colors.$nav-hover;
    width: 0;
    height: 0.3rem;
    left: 0;
    bottom: -0.1rem;
    transition: 0.3s;
}

.listItem__link:hover{
    color: black;
}

.listItem__link:hover:after{
    width: 100%;
}

