@use "../../abstract/colors";
@use "../../abstract/mixins";

.header{
    width: 100%;
    margin: auto;
    background: colors.$front_page--header;
}

.header__nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
}

.header__figure{
    height: 7rem;
    width: 15rem;
}

.header__img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header__ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.header__listItem{
    list-style: none;
    padding: 1rem;
    border-radius: 2rem;
}

.listItem__link{
    text-decoration: none;
    color: colors.$grey;
    position: relative;
}

.listItem__link:after{
    content: "";
    position: absolute;
    background: #42855B;
    width: 0;
    height: 0.3rem;
    left: 0;
    bottom: -0.1rem;
    transition: 0.3s;
}

.listItem__link:hover{
    color: black;
}

.listItem__link:hover:after{
    width: 100%;
}

.header__button{
    width: 5rem;
    height: 4rem;
    font-size: 3rem;
    @include mixins.flex;
}
