@use "../../abstract/colors";

.header__signUp {
    min-width: 28rem;
    height: 5rem;
    font-size: 2rem;
    color: colors.$grey;
    background: colors.$signUp-white;
    border: 0.2rem solid rgba(144, 238, 144, 1);
    border-radius: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.header__signUp:hover {
    color: black;
    background-color: colors.$front_page--header;
}

.header__input {
    width: 100%;
    font-size: 2rem;
    height: 5rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 6rem;
    border: none;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    position: relative;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    background: colors.$signUp-white;
    border: 0.2rem solid rgba(144, 238, 144, 1);
}

.header__input:focus {
    color: #42855B;
}

.header__searchbar {
    width: 50rem;
    position: relative;
}

.searchbar__logo {
    position: absolute;
    right: 0;
    width: 5rem;
    height: 5rem;
    margin-left: 22rem;
    padding-top: 1rem;
    text-align: center;
    background: #9be98e;
    font-size: 3rem;
    z-index: 1;
    border-radius: 1.5rem;
}