@use "../../abstract/colors";
@use "../../abstract/mixins";

.container {
    max-width: 100%;
    height: auto;
    margin: auto;
    background: colors.$background-body;
}

.container__header {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 2rem 0rem;
    flex-wrap: wrap;
}

.container__body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background: linear-gradient(to right, rgba(27, 27, 27, 0.8), 40%, rgba(233, 69, 96, 0) 50%);
}

.container__p {
    position: absolute;
    width: 25%;
    left: 2rem;
    color: rgba(238, 238, 238, 90%);
}

.container__figure {
    width: 100%;
    height: 50rem;
    position: relative;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8));
    z-index: -1;
}

.container__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.4);
    z-index: -1;

}