@use "../../abstract/colors";

.main__contactformulier{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: #EEEEEE;
    color: #EEEEEE;
    gap: 4rem;
    
}

.contactformulier{
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 70rem;
    min-height: 40rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 4rem;
    font-size: 3rem;
    gap: 2rem;
    border-radius: 3rem;
    color: black;
    box-shadow: 25rem 25rem 25rem 25rem rgb(0 0 0 / 10%);

    &__informatie{
        font-size: 1.8rem;
        color: black;
        margin-bottom: 3rem;
        width: 50%;
        padding: 4rem;
    }
    &__item{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &--label{
            font-size: 2.5rem;
            border-bottom: 0.2rem solid lightgreen;
            
        }

        &--input{
            display: block;
            width: 100%;
            padding: 0.5rem 1rem;
            font-size: 1.6rem;
            border: 1px solid black;
            background: rgb(242, 235, 235);
        }

        &--area{
            height: 23ch;
            width: 100%;
            font-size: 1.6rem;
            border: 1px solid black;
            font-family: sans-serif;
            padding: 1rem 2rem;
            resize: none;
            background: rgb(242, 235, 235);
        }

        &--select{
            background: rgb(242, 235, 235);
            padding: 0.5rem 1rem;
        }
    }
}

.submit{
    background: #00ADB5;
    color: #EEEEEE;
    font-size: 1.6rem;
    border: none;
}

.submit:hover{
    cursor: pointer;
}

/* Kalender icon verwijderen */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}