.main__voorwaarden{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35rem;
    margin-left: 35rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    outline: auto;
    padding: 1.3rem;
    border-radius: 1.2rem;
    box-shadow: 0 2.0rem 5rem rgb(0 0 0 / 15%);
}