.page__front{
    display: flex;
    justify-content: center;
    padding: 10rem;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.page__card{
    background: var(--secondary-color);
    width: 80rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    color: #707070;
    flex-direction: column;
}

.page__heading{
    font-size: 2.7rem;
}

.page__cards{
    width: 60rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #707070;
    border-radius: 3rem;
    background: var(--secondary-color);
}


.agenda__card{
    list-style: none;
    position: relative;
    top: 3rem;
}

.agenda__card2{
    list-style: none;
    position: relative;
    top: 3rem;
}

.page__card{
    background: var(--secondary-color);
    width: 80rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    color: #707070;
    flex-direction: column;
}

.page__heading{
    font-size: 2.7rem;
}



.agenda__cards{
    background: white;
    width: 76rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #707070;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    box-shadow: 0 1rem 2rem 0 rgba(0,0,0,0.2);
}
/*
.agenda__cards:hover{
    border-left: #9CC5A1 66rem solid;
    transition: 0.5s;
    color: #eee;
}
*/

.agenda__cards4:hover{
    width: 84rem;
    transition: 0.3s;
    border-right: 4rem solid #9CC5A1;
}


.agenda__cards:hover{
    width: 84rem;
    transition: 0.3s;
    border-left: 4rem solid #9CC5A1;
}

.agenda__cards2{
    background: white;
    width: 30rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-right: #9CC5A1 solid 3rem;
    color: #707070;
    box-shadow: 0 1rem 2rem 0 rgba(0,0,0,0.2);
}


.agenda__cards3{
    background: white;
    width: 30rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #707070;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    border-left: #9CC5A1 solid 3rem;
    box-shadow: 0 1rem 2rem 0 rgba(0,0,0,0.2);
}

.agenda__cards4{
    background: white;
    width: 76rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    color: #707070;
    box-shadow: 0 1rem 2rem 0 rgba(0,0,0,0.2);
}

.agenda__img{
    width: 30rem;
    height: 40rem;
    object-fit: cover;
    border-radius: 0rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.agenda__img2{
    width: 36rem;
    height: 40rem;
    object-fit: cover;
    border-radius: 0rem;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
}

.agenda__img3{
    object-fit: contain;
    border-radius: 0rem;
}



.agenda__h2{
    position: relative;
    bottom: 5rem;
}

.agenda__d{
    position: relative;
    bottom: 2rem;
}

.agenda__p{
    position: relative;
}

.agenda__title{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    position: relative;
    right: 45rem;
    font-size: 3rem;
    color: #707070;
}

.agenda__button{
    position: relative;
    bottom: 10rem;
    right: 42rem;
    border: none;
    background: none;
    width: 100%;
    height: 4rem;
    color: white;
    font-size: 2rem;
}

.agenda__button4{
    position: relative;
    bottom: 13rem;
    right: 42rem;
    border: none;
    background: none;
    width: 100%;
    height: 4rem;
    color: white;
    font-size: 2rem;
}


.agenda__button2{
    position: relative;
    bottom: 10rem;
    left: 72.5rem;
    border: none;
    background: none;
    height: 4rem;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    z-index: 10;
}



.agenda__button3{
    position: relative;
    bottom: 10rem;
    left: 69rem;
    border: none;
    background: none;
    height: 4rem;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    z-index: 10;
}


.agenda__date{
    position: relative;
    top: 15rem;
    right: 56rem;
    border: none;
    background: none;
    color:#707070;
    font-size: 1.7rem;
    text-decoration: none;
}

.agenda__date2{
    position: relative;
    top: 15rem;
    right: 51rem;
    border: none;
    background: none;
    color:#707070;
    font-size: 1.7rem;
    text-decoration: none;
}

@media screen and (max-width: 90rem){
    .agenda__cards2{
        display: none;
    }
    .agenda__cards3{
        display: none;
    }
    .page__front{
        width: 100%;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
    }

    .agenda__cards{
        max-width: 100%;
        height: 40rem;
        border-top-right-radius: 3rem;
        border-bottom-right-radius: 3rem;
    }

    .agenda__cards4{
        max-width: 100%;
        height: 40rem;
        border-top-left-radius: 3rem;
        border-bottom-left-radius: 3rem;
    }

    .agenda__title{
        max-width: 100%;
    }

    .agenda__paragraph{
        max-width: 100%;
    }
}



  