@use "./colors";

.header__button{
    display: none;
}

@media  screen and (max-width: 75rem){ // 1200 pixels

    .container {
        max-width: 100%;
        height: 21vh;
        margin: auto;
        background: rgba(217, 248, 196, 0.4);
      }

    .container__header {
        display: flex;
        justify-content: space-evenly;
        padding: 2rem 5rem;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .header__signUp{
        width: 38%;
    }

    .header__searchbar{
        width: 85%;
    }

    .signUp{
        left: 34%;
    }


    .container__figure {
        width: 100%;
        height: 40rem;
        background: grey;
    }
    .main__voorwaarden{
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .footer{
        flex-direction: column;
    }
    .footer__section{
        margin-right: auto;

    }
    .footer__images{
        margin-left: auto;
        margin-right: auto;
    }
}



@media  screen and (max-width: 62.5rem) { // 1000 pixels
    .container__header {
        display: flex;
        justify-content: space-evenly;
        padding: 2rem 5rem;
        gap: 2rem;
        flex-wrap: wrap;
    }

    .container__body {
        display: flex;
        justify-content: center;
        max-width: 144rem;
        flex-wrap: wrap;
    }

    .container__figure {
        width: 100%;
        height: 40rem;
        background: grey;
    }
}

@media  screen and (max-width: 56.25rem){ // 900 pixels
    .container__figure {
        width: 100%;
        height: 40rem;
        background: grey;
    }

    .container__p{
        width: 38%;
    }

    .signUp{
        left: 30%;
    }
}

@media  screen and (max-width: 53.123rem){ // 850 pixels

    .container {
        max-width: 100%;
        height: 30vh;
        margin: auto;
        background: rgba(217, 248, 196, 0.4);
      }
    

    .header__listItem {
        margin: 0 auto;
        width: 90%;
        margin-top: 0.5rem;
        font-size: 100%;
        padding: 0rem;
    }

    .header__signUp{
        width: 100%;
    }

    .header__searchbar{
        width: 100%;
    }

    .header__input{
        text-align: center;
    }
}

@media screen and (max-width: 50rem){ // 800 pixels
    .header__ul{
        display: none;
    }

    .header__listItem{
        padding-top: 1rem;
        padding-bottom: 1rem;
        &:hover{
            background: colors.$front_page--header;
            border-radius: 1rem;
            padding-top: 1rem;
        }
    }

    .signUp{
        left: 28%;
    }

    .listItem__link:after{
        content: "";
        background: none;
    }

    .header__button{
        display: block;
    }

    .xMark{
        display: none !important;
    }

    .header__nav--openMenu{
        .bars{
            display: none !important;
        }

        .xMark{
            display: block !important; 
        }

            .header__ul{
                font-size: 130%;
                width: 100vw;
                height: 32rem;
                padding-top: 1rem;
                text-align: center;
                display: block;
                position: absolute;
                top: 7rem;
                left: 0;
                background: white;
                z-index: 2;
                box-shadow: 0 5px 1.2rem rgba(0,0,0, 0.2) ;
            }
    }
}

// 700 pixels
@media screen and (max-width:43.75rem){
    .signUp{
        left: 20%;
    }

    .container__body{
        background: linear-gradient(360deg, rgba(27, 27, 27, 0.8), 40%, rgba(233, 69, 96, 0) 50%);
    }

    .container__p{
        font-size: 100%;
        width: 90%;
        padding-top: 23rem;
    
    }
    .main__voorwaarden{
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left: 5rem;
        margin-right: 5rem;
    }
}



// 550
@media screen and (max-width:43.75rem){
    .signUp{
        left: 15%;
    }
    .footer__iframe{
        width: auto;
    }
}

// 500
@media screen and (max-width:31.25rem){
    .signUp{
        left: 5%;
    }
}

// 400px
@media screen and (max-width:25rem) {
    .container{
        height: 30vh;
    }

    .container__p{
        width: 90%;
    }

    .signUp {
        z-index: 2;
        left: 3%;
      }
}

.signUp__checkbox{
    width: 5%;
}

.signUp__span--psw{
    right: 46%;
}

.signUp__span--agree{
    right: 27%;
}

.container__p{
    font-size: 100%;
}
